*{
    margin: 0%;
    padding: 0%;
}
:root {
    scroll-behavior: smooth;
}
.wrapper-main {
    width: 1260px;
    margin: 0 auto;
}
h2 {
    color: #EE9046;
    font-family:  "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    box-sizing: content-box; 
    line-height: 4.5rem;
}
h3 {
    color: #F6E8CB;
    font-family:  "Montserrat", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    display: inline;
}
h4 {
    color: #715B6D;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 1rem;
}
h5 {
    color: gray;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
}
p {
    color: #4F364B;
    font-family: "Montserrat", sans-serif;
    font-style: 400;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1rem;
}

nav  {
    justify-content: end;
    background-color: #C7A6AD;
}
.-nav {
    padding-inline:3.75rem;
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.nav-responsive-ul {
    display: none;
}

nav ul {
    display: flex;
    width: 100%; 
    justify-content: flex-end;
    align-items: center;
}
nav li:first-child {
    margin-right: auto;
}
nav ul li {
    list-style: none;
    height: 4rem;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: light;
    color: #000;
    font-size: 0.8rem;
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul li a:not(#brand) {
    padding-left: 2rem;
}

.nav-hover:hover {
    color: #4F364B;
}
.contenedor-inicio {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.inicio-slider input{
    visibility: hidden;
    display: none;
}
.cont-inicio-responsive {
    display: none;
}
.buttons-inicio{
    position: absolute;
    z-index: 30;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
    bottom: 4vh;
}
.buttons-inicio label{
    width: 1.8rem ;
    height:1.8rem;
    background-color: #4F364B;
    border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.buttons-inicio label:hover {
    scale: 1.2;
    opacity: 1;
}
.inicio-slider input:nth-child(1):checked ~ .buttons-inicio label:nth-child(1),
.inicio-slider input:nth-child(2):checked ~ .buttons-inicio label:nth-child(2),
.inicio-slider input:nth-child(3):checked ~ .buttons-inicio label:nth-child(3),
.inicio-slider input:nth-child(4):checked ~ .buttons-inicio label:nth-child(4) {
    opacity: 1;
}
.inicio-img{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 400ms ease-in-out;
}

.imagen-inicio1,.imagen-inicio2,.imagen-inicio3,.imagen-inicio4{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.imagen-responsive-inicio1,.imagen-responsive-inicio2,.imagen-responsive-inicio3,.imagen-responsive-inicio4{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.inicio-slider input:nth-child(1):checked ~ .inicio-img {
    left: 0;
}
.inicio-slider input:nth-child(2):checked ~ .inicio-img {
    left: -100%;
}
.inicio-slider input:nth-child(3):checked ~ .inicio-img {
    left: -200%;
}
.inicio-slider input:nth-child(4):checked ~ .inicio-img {
    left: -300%;
}
/* .inicio-responsive-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 400ms ease-in-out;
} */
/* .inicio-slider input:nth-child(1):checked ~ .inicio-responsive-img {
    left: 0;
}
.inicio-slider input:nth-child(2):checked ~ .inicio-responsive-img {
    left: -100%;
}
.inicio-slider input:nth-child(3):checked ~ .inicio-responsive-img {
    left: -200%;
}
.inicio-slider input:nth-child(4):checked ~ .inicio-responsive-img {
    left: -300%;
} */
.cont-inicio-responsive-cel {
    display: none;
}
#Proyecto {
    color: #4F364B;
    background-image: url(./media/Campaña/textura-cartulina\ 3.png);
    background-size: cover;
    padding-bottom: 8rem;
    padding-top: 8rem;
    align-content: flex-start;
}
.imagen-proyecto1 {
    padding-left: 0.8rem;
}
.imagen-proyecto2 {
    padding-left: 4rem;
    height: 35rem;
}
.imagenes-proyecto {
    display: flex;
    height: fit-content;
}
.proyecto-flex {
    display: flex;
    justify-content: center;
}
.proyecto-textil-texto {
    box-sizing: content-box;
}
.icon-flex {
    display: flex;
    padding-top: 6rem;
    padding-bottom: 6rem;
    justify-content: center;
    gap: 8rem;
}
#Transparencia {
    color: #4F364B;
    background-image: url(./media/Campaña/textura-cartulina\ 2.png);
    background-size: cover;
    padding-inline: 10vw;
    padding-bottom: 15vh;
    padding-top: 15vh;
    align-content: flex-start;
}
.contenedor-text-img-transparencia {
    display: flex;
    justify-content: center;

}
.imagen-transparencia1 {
    object-fit: cover;
    padding-left: 2vw ;
}
.columna-flex {
    padding-left: 2vw;
    padding-bottom: 3rem;
}
.titulo-transparencia {
line-height: 2.5rem;
    padding-bottom: 0.8rem;
    color: #fff;
}

#button {
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin-top: 3rem;
  padding: 2vh; 
  background-color: #C7A6AD;
  border-radius: 30px;
  transition: background 0.2s;
  align-content: flex-start;
}
#button:hover {
    background-color: #4F364B;
    color: #F6E8CB;
}
#Catalogo{
    text-align: left;
    background-color: #F5F5F5;
    padding-bottom: 15vh;
    padding-top: 15vh;
    padding-left: 6rem;
    padding-right: 6rem;
    box-sizing: border-box;
}
.catalogo-flex {
    display: flex;
    justify-content: left;
    text-align: left;
    position: relative;
    padding-top: 5vh;
    height: auto;
    margin: auto;
    align-self: center;
    scrollbar-width: none;
}
.catalogo-flex ::-webkit-scrollbar{
    background: #D9D9D9;
    border-radius: 8rem;
    height: 0.6rem;
}
.catalogo-flex ::-webkit-scrollbar-thumb{
    background: #A6BFB2;
    border-radius: 8rem;
    width: 0.1rem;
}
.catalogo-slider {
    display: flex; 
    position: sticky;
    left: 0;
    object-fit: cover;
    scroll-snap-align: center;
    overflow-y: auto;
}
/* .catalogo-flex :before {
    position: sticky;
    z-index: 1;
    left: 0;
    content: "";
}
.catalogo-flex:after {
    position: sticky;
    z-index: 1;
    right: 0;
    content: "";
}
.catalogo-flex .catalogo-slider {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 10);
}
.catalogo-flex {
    display: flex;
}
@keyframes scoll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc (-240 * 5));
        transform: translateX(calc (-240 * 5));
    }
} */
.catalogo-imagen-texto {
    padding-right: 3rem;
    padding-bottom: 4rem;
}
.boxes-flex{
    display: flex;
    padding-top: 2rem;
    width: 10rem;
}
.color1,.color2,.color3,.color4,.color5,.color6 {
    width: 2rem;
    height: 2rem;
    border-radius: 90px;
}
.color1 {
    background-color: #95B4D1;
    color: #95B4D1;
}
.color2 {
    background-color: #CDDFC5;
    color: #CDDFC5;
}
.color3 {
    background-color: #212E72;
    color: #212E72;
    margin-left: 1rem;
}
.color4 {
    background-color: #212E72;
    color: #212E72;
}
.color5 {
    background-color: #727160;
    color: #727160;
    margin-left: 1rem;
    margin-right: 1rem;
}

.color6 {
    background-color: #1A141A;
    color: #1A141A;
    margin-right: 1rem;
}
#Reinserción {
    color: #4F364B;
    background-image: url(./media/Campaña/textura-cartulina\ 3.png);
    background-size: cover;
    padding-bottom: 8rem;
    padding-top: 8rem;
    padding-left: 6rem;
    padding-right: 6rem;
    align-content: flex-start;
}
.reinsercion-flex {
    display: flex;
    justify-content: center;
}
.reinsercion-img {
    padding-left: 0.3rem;
    padding-left: 4rem;
    height: 26rem;
}

.reinsercion-texto {
    box-sizing: content-box;
}
#Institucional {
    padding-inline: 10vw;
    padding-bottom: 15vh;
    padding-top: 15vh;
    padding-left: 6rem;
    padding-right: 6rem;
    align-content: flex-start;
}
.punteo-intitucional {
    color: #4F364B;
    font-family: "Montserrat", sans-serif;
    font-style: 400;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.2rem;
    display: inline;
}
.punteo-intitucional ul {
    padding-left: 2rem;
}
.Institucional-columna-flex {
    padding-right: 8rem;
}
.Institucional-flex {
    display: flex;
    justify-content: center;
}
iframe {

    width: 50%;

}
.button-movile {
    display: none;
}
footer {
    background-color: #F5F5F5;
    padding-bottom: 3rem;
    padding-top: 5rem;
    box-sizing: border-box;
    align-items: center;
    padding-inline:3.75rem;
    padding-left: 8vw;
    padding-right: 10vw;
    min-height: 80px;
}
.footer-brand {
    width: 12rem;
}
.footer-contacto {
    display: flex;
    margin-top: 5vh;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 10rem;
}
.Acerca-de {
    padding-left: 2vw;
}
.lista-contacto{
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-style: normal;
    list-style: none;
    font-weight: light;
    font-size: 0.875em;
    line-height: 1.5rem; 
}
a {
    text-decoration: none;
    color: #000;
}
@media only screen and (max-width: 1200px){
    h2 {
    line-height: 3.2rem;
    }

    .imagen-inicio1,.imagen-inicio2,.imagen-inicio3,.imagen-inicio4{
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    /* .imagen-proyecto{
        display: none;
    } */
     .imagen-proyecto1 {
        display: none;
    }

     .icon-flex {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
        gap: 3rem;
    }
    .contenedor-text-img-transparencia {
        display: flex;
        justify-content: space-between;
    }
    .columna-flex {
        align-content: text;
        padding-left: 1.5rem;
    }
    .imagen-transparencia2 {
        display: none;
    }
    #Catalogo{
        text-align: left;
        background-color: #F5F5F5;
    }
    .imagen-transparencia {
        width: 40vw;
        padding-left: 0vh ;
    }
    
    .imagen-inicio1,.imagen-inicio2,.imagen-inicio3,.imagen-inicio4{
        position: relative;
        width: 100%;
        height: 80vw;
        justify-content: center;
        align-items: center;
    }

    .reinsercion-flex {
        display: flex;
        justify-content: start;
    }
    .reinsercion-img {
        width: 38rem;
    }

    .footer-contacto {
        display: flex;
        margin-top: 5rem;
        text-align: left;
    }
    .Acerca-de {
        display: none;
    }
    .ayuda {
        display: none;
    }
}
@media only screen and (max-width: 1100px){
    .nav-ul {
        display: none;
    }
    header {
        justify-content: space-between;
    }
    nav {
        height: 4rem;
        width: 100%;
    }
    .-nav {
        align-content: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .nav-responsive-ul {
        display: flex;
        justify-content: space-between;
    }

    .nav{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        gap: 1rem;
        top: 0;
        right: 0;
        background-color: #C7A6AD;
        padding: 2rem;
        width: 50%;
        height: 100vh;
        box-shadow: 0 0 0 100vmax rgb(79, 54, 75, .50);
    }
    .nav-responsive-li-cont {
        flex-direction: column;
    }
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        color: #F6E8CB;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .buttons-inicio{
        opacity: 0;
        visibility: hidden;
    }

    #Proyecto {
        padding: 2rem;
        padding-top: 4rem;
    }
    .imagen-proyecto2 {
        width: 15rem;
        height: 15rem;
    }

    .icon-solo {
        width: 7rem;
    }

    #Transparencia {
        padding: 2rem;
        padding-top: 4rem;
    }
    .imagen-transparencia1 {
        width: 20rem;
        padding-bottom: 2rem;
        padding-left: 0rem;
    }

    #Catalogo {
        padding: 2rem;
        padding-top: 4rem;
    }


    #Reinserción {
        padding: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .reinsercion-flex {
        flex-direction: column;
    }
    .reinsercion-img {
        width: auto;
        height: auto ;
        padding-top: 2rem;
        padding-left: 0%;
        padding-right: 0%;
    }
    #Institucional {
        padding: 2rem;
        padding-top: 4rem;
    }
    .Institucional-columna-flex {
        padding-right: 0vw;
    }
    .Institucional-flex {
        flex-direction: column;
    }
    .punteo-intitucional {
        font-size: 0.7rem;
        line-height: 0.8rem;
    }
    iframe {
        aspect-ratio: 16/9;
        align-content: center;
        margin-top: 2rem;
        width: 100%;
        height: 20%;
    }
    .button-web {
        display: none;
    }
    .button-movile {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }
    #button {
       width: 100%;
       margin-bottom: 2rem;
    }

    .footer-contacto {
        flex-direction: column;
        margin-top: 1rem;
        text-align: left;
        justify-content: space-between;
        gap: 2rem;
    }
}
@media only screen and (max-width: 800px){
    h2 {
        font-size: 2rem;
        line-height: 2.8rem;
        padding-bottom: 0.5rem;
        justify-items: center;
        box-sizing: content-box;
    }
    p {
        font-size: 0.7rem;
        line-height: 0.8rem;
    }
    .nav-ul {
        display: none;
    }
    header {
        justify-content: space-between;
    }
    nav {
        height: 3.5rem;
        width: 100%;
    }
    .-nav {
        align-content: center;
        padding-left: 1rem;
        padding-right: 1.8rem;
    }
    .nav-responsive-ul {
        display: flex;
        justify-content: space-between;
    }

    .nav{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #C7A6AD;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.8rem;
        width: 50%;
        height: 100vh;
        box-shadow: 0 0 0 100vmax rgb(79, 54, 75, .50);
    }
    .nav-responsive-li-cont {
        flex-direction: column;
        align-items: end;

    }
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        color: #F6E8CB;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-responsive-ul img {
        width: 11rem;
        padding-top: 0.5rem;
    }

    .contenedor-inicio {
        display: none;
    }
    .cont-inicio-responsive {
        display: none;
    }
    
.cont-inicio-responsive-cel {
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.in-res-slider-cel input{
    visibility: hidden;
    display: none;
}
.buttons-inicio-res-cel {
    position: absolute;
    z-index: 300;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
    bottom: 4vh;
}
.buttons-inicio-res-cel label{
    width: 1.2rem ;
    height:1.2rem;
    background-color: #4F364B;
    border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.buttons-inicio-res-cel label:hover {
    scale: 1.2;
    opacity: 1;
}
.in-res-slider-cel input:nth-child(1):checked ~ .buttons-inicio-res-cel label:nth-child(1),
.in-res-slider-cel input:nth-child(2):checked ~ .buttons-inicio-res-cel label:nth-child(2),
.in-res-slider-cel input:nth-child(3):checked ~ .buttons-inicio-res-cel label:nth-child(3),
.in-res-slider-cel input:nth-child(4):checked ~ .buttons-inicio-res-cel label:nth-child(4) {
    opacity: 1;
}
.inicio-img-res-cel{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    transition: 600ms ease-in-out;
}
.imagen-res-cel-inicio1,.imagen-res-cel-inicio2,.imagen-res-cel-inicio3,.imagen-res-cel-inicio4{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.in-res-slider-cel input:nth-child(1):checked ~ .inicio-img-res-cel{
    left: -20%;
}
.in-res-slider-cel input:nth-child(2):checked ~ .inicio-img-res-cel{
    left: -170%;
}
.in-res-slider-cel input:nth-child(3):checked ~ .inicio-img-res-cel{
    left: -50%;
}
.in-res-slider-cel input:nth-child(4):checked ~ .inicio-img-res-cel{
    left: -75%; 
}
/* .in-res-slider input{
    visibility: hidden;
    display: none;
} */
/* .buttons-inicio{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
    bottom: 4vh;
}
.buttons-inicio label{
    width: 1.8rem ;
    height:1.8rem;
    background-color: #4F364B;
    border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.buttons-inicio label:hover {
    scale: 1.2;
    opacity: 1;
}
.inicio-slider input:nth-child(1):checked ~ .buttons-inicio label:nth-child(1),
.inicio-slider input:nth-child(2):checked ~ .buttons-inicio label:nth-child(2),
.inicio-slider input:nth-child(3):checked ~ .buttons-inicio label:nth-child(3),
.inicio-slider input:nth-child(4):checked ~ .buttons-inicio label:nth-child(4) {
    opacity: 1;
}
.inicio-img{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 400ms ease-in-out;
}

.imagen-inicio1,.imagen-inicio2,.imagen-inicio3,.imagen-inicio4{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.inicio-slider input:nth-child(1):checked ~ .inicio-img {
    left: 0;
}
.inicio-slider input:nth-child(2):checked ~ .inicio-img {
    left: -100%;
}
.inicio-slider input:nth-child(3):checked ~ .inicio-img {
    left: -200%;
}
.inicio-slider input:nth-child(4):checked ~ .inicio-img {
    left: -300%; 
} */


    #Proyecto {
        padding: 2rem;
        padding-top: 4rem;
    }
    .proyecto-flex {
        flex-direction: column;
    }
    .proyecto-textil-texto {
        box-sizing: content-box;
        width: 100%;
    }

    .imagenes-proyecto {
        justify-content: flex-start;
    }
    .imagen-proyecto1 {
        display: flex;
        height: 12rem;
        width: 12rem;
        padding-left: 1rem;
        padding-top: 3rem;
    }
    .imagen-proyecto2 {
        height: 12rem;
        width: 12rem;
        padding-left: 0rem;
        padding-top: 3rem;
    }

    .icon-flex {
        display: flex;
        padding: 2rem;
        align-content: center;
        justify-content: space-around;
        object-fit: contain;
        gap: 1rem;
        background-color: #F5F5F5;
    }
    .icon {
        width: 10rem;
    }
    .icon-solo {
        width: 100%;
        height: 100%;
    }
    

    #Transparencia {
        padding: 2rem;
        padding-top: 4rem;
    }
    .columna-flex {
        align-items: center;
        padding-left: 0rem;
        padding-bottom: 2rem;
    }
    .contenedor-text-img-transparencia {
        display: block;
    }
    .imagen-transparencia1 {
        width: 20rem;
        padding-bottom: 2rem;
        padding-left: 0rem;
    }

    #Catalogo {
        padding: 2rem;
        padding-top: 4rem;
    }
    .catalogo-flex {
        padding-top: 1rem;
    }
    .catalogo-imagen-texto {
        width: 80%;
        padding-left: 0rem;
        padding-right: 0.8rem;
    }
    .ropa-img {
        width: 15rem;
    }
    .catalogo-flex ::-webkit-scrollbar{
        display: none;
    }



    #Reinserción {
        padding: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .reinsercion-flex {
        flex-direction: column;
    }
    .reinsercion-img {
        width: auto;
        height: auto ;
        padding-top: 2rem;
        padding-left: 0%;
        padding-right: 0%;
    }


    #Institucional {
        padding: 2rem;
        padding-top: 4rem;
    }
    .Institucional-columna-flex {
        padding-right: 0vw;
    }
    .Institucional-flex {
        flex-direction: column;
    }
    .punteo-intitucional {
        font-size: 0.7rem;
        line-height: 0.8rem;
    }
    iframe {
        aspect-ratio: 16/9;
        align-content: center;
        margin-top: 2rem;
        width: 100%;
        height: 20%;
    }
    .button-web {
        display: none;
    }
    .button-movile {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }
    #button {
       width: 100%;
       margin-bottom: 2rem;
    }
    
#Contacto {
    padding-top: 2rem;
}
    .Ministerio {
        padding-top: 5vh;
        width: 20rem;
        align-items: center;
    }
    .footer-brand {
        width: 10rem;
    }
    .Institucional-flex {
        display: block;
    }
    .footer-contacto {
        flex-direction: column;
        margin-top: 1rem;
        text-align: left;
        justify-content: space-between;
        gap: 2rem;
    }
    .Acerca-de {
        display: none;
    }
    .ayuda {
        display: none;
    }

@media only screen and (max-width: 400px) {
        .contenedor-inicio {
            display: none;
        }
        .cont-inicio-responsive-cel {
            display: none;
        }
        
    .cont-inicio-responsive {
        display: flex;
        position: unset;
        height: 100vh;
        overflow: hidden;
    }
    .in-res-slider input{
        visibility: hidden;
        display: none;
    }
    .buttons-inicio-res {
        position: absolute;
        z-index: 300;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2vw;
        bottom: 4vh;
    }
    .buttons-inicio-res label{
        width: 1.2rem ;
        height:1.2rem;
        background-color: #4F364B;
        border-radius: 100%;
        opacity: 0.5;
        cursor: pointer;
        transition: 300ms ease-in-out;
    }
    .buttons-inicio-res label:hover {
        scale: 1.2;
        opacity: 1;
    }
    .in-res-slider input:nth-child(1):checked ~ .buttons-inicio-res label:nth-child(1),
    .in-res-slider input:nth-child(2):checked ~ .buttons-inicio-res label:nth-child(2),
    .in-res-slider input:nth-child(3):checked ~ .buttons-inicio-res label:nth-child(3),
    .in-res-slider input:nth-child(4):checked ~ .buttons-inicio-res label:nth-child(4) {
        opacity: 1;
    }
    .inicio-img-res{
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        transition: 600ms ease-in-out;
    }
    .imagen-res-inicio1,.imagen-res-inicio2,.imagen-res-inicio3,.imagen-res-inicio4{
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .in-res-slider input:nth-child(1):checked ~ .inicio-img-res{
        left: 0;
    }
    .in-res-slider input:nth-child(2):checked ~ .inicio-img-res{
        left: -25%;
    }
    .in-res-slider input:nth-child(3):checked ~ .inicio-img-res{
        left: -50%;
    }
    .in-res-slider input:nth-child(4):checked ~ .inicio-img-res{
        left: -75%; 
    }

    }
}