*{
    margin: 0%;
    padding: 0%;
}
h2 {
    color: #000;
    font-family: 'Kaisei Decol';
    font-weight: 500;
    font-size: 3.75em;
    box-sizing: content-box;

}
h3 {
    color: #000;
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 500;
    display: inline;
}
h4 {
    color: black;
    font-family: 'Kaisei Decol';
    font-weight: 500;
    font-size: 1.5em;
}
h5 {
    color: black;
    font-family: 'Roboto';
    font-size: 0,5em;
    font-style: italic;
    font-weight: 300;
    display: inline;
}
p {
    color: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: light;
    font-size: 0.875em;
    line-height: 1.5;
    display: inline;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #A6BFB2;
    align-items: center;
    padding-inline:3.75em;
    min-height: 80px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: light;
    color: #000;
    font-size: 0.875em;
    padding-right: 35px;
  }
.nav-hover:hover {
    color: #2A674D;
}
.contenedor-inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.inicio-slider input{
    visibility: hidden;
    display: none;
}
.buttons-inicio{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vh;
    bottom: 4vh;
}
.buttons-inicio label{
    width: 2vh ;
    height:2vh;
    background-color: #2A674D;
    border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
    z-index: 10;
    transition: 300ms ease-in-out;
}
.buttons-inicio label:hover {
    scale: 1.2;
    opacity: 1;
}
.inicio-slider input:nth-child(1):checked ~ .buttons-inicio label:nth-child(1),
.inicio-slider input:nth-child(2):checked ~ .buttons-inicio label:nth-child(2),
.inicio-slider input:nth-child(3):checked ~ .buttons-inicio label:nth-child(3),
.inicio-slider input:nth-child(4):checked ~ .buttons-inicio label:nth-child(4) {
    opacity: 1;
}
.inicio-img{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition: 400ms ease-in-out;
}
.imagen-inicio1,.imagen-inicio2,.imagen-inicio3,.imagen-inicio4{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.inicio-slider input:nth-child(1):checked ~ .inicio-img {
    left: 0;
}
.inicio-slider input:nth-child(2):checked ~ .inicio-img {
    left: -100%;
}
.inicio-slider input:nth-child(3):checked ~ .inicio-img {
    left: -200%;
}
.inicio-slider input:nth-child(4):checked ~ .inicio-img {
    left: -300%;
}
#Proyecto {
    color: black;
    background-color: #E9EFEA;
    padding-inline: 10vh;
    padding-bottom: 15vh;
    padding-top: 15vh;
}
.imagen-proyecto {
    object-fit: cover;
}
.proyecto-flex {
    display: flex;
}
.proyecto-textil-texto {
    box-sizing: content-box;
}
.icon-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    text-align: center;
}
.icon {
    padding-right: 5vh;
    padding-top: 5vh;
}
#Transparencia {
    color: black;
    padding-inline: 10vh;
    padding-bottom: 15vh;
    padding-top: 15vh;

}
.contenedor-text-img-transparencia {
    display: flex;
    justify-content: left;
}
.imagen-transparencia {
    object-fit: cover;
}
.columna-flex {
    padding-left: 20vh;
}
.titulo-transparencia {
    line-height: 0.8em;
    padding-bottom: 0.8em;
}
.lista-transparencia {
    font-family:'Roboto' ;
    font-size: 0.875em;
}
#button {
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin-top: 3vh;
  padding: 2vh; 
  background-color: #E9EFEA;
  border-radius: 30px;
  transition: background 0.2s;
}
#button:hover {
    background-color: #2A674D;
}
#Catalogo{
    text-align: left;
    background-color: #F5F5F5;
    padding-inline: 10vh;
    padding-bottom: 15vh;
    padding-top: 15vh;
}
.catalogo-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 9vh;
    text-align: left;
}
.catalogo-imagen-texto {
    padding-right: 4vh;
}
.boxes-flex{
    display: flex;
    padding-top: 2vh;
}
.color1 {
    background-color: #95B4D1;
    color: #95B4D1;
    width: 3vh;
    height: 3vh;
    border-radius: 90px;
}
.color2 {
    background-color: #CDDFC5;
    color: #CDDFC5;
    width: 3vh;
    height: 3vh;
    border-radius: 90px;
}
.color3 {
    background-color: #212E72;
    color: #212E72;
    width: 3vh;
    height: 3vh;
    border-radius: 90px;
    margin-left: 1.2vh;
}
.color4 {
    background-color: #212E72;
    color: #212E72;
    width: 3vh;
    height: 3vh;
    border-radius: 90px;
}
.color5 {
    background-color: #727160;
    color: #727160;
    width: 3vh;
    height: 3vh;
    border-radius: 90px;
    margin-left: 1.2vh;
    margin-right: 1.2vh;
}
.color6 {
    background-color: #1A141A;
    color: #1A141A;
    width: 3vh;
    height: 3vh;
    border-radius: 90px;
    margin-right: 1.2vh;
}
#Institucional {
    padding-inline: 10vh;
    padding-bottom: 15vh;
    padding-top: 15vh;
}

.Institucional-columna-flex {
    padding-right: 20vh;
}
.Institucional-flex {
    display: flex;
    justify-content: space-between;
}
.Ministerio {
    padding-top: 5vh;
}
footer {
    background-color: #A6BFB2;
    padding-inline: 10vh;
    padding-bottom: 5vh;
    padding-top: 8vh;
    box-sizing: border-box;
}
.footer-contacto {
    display: flex;
    margin-top: 5vh;
    text-align: left;
    align-items: center;
}
.Acerca-de {
    padding-left: 20vh;
}
.ayuda {
    padding-left: 40vh;
}
.lista-contacto{
    font-family: 'Roboto';
    color: #000;
    font-style: normal;
    list-style: none;
    font-weight: light;
    font-size: 0.875em;
    line-height: 1.5; 
}
a {
    text-decoration: none;
    color: #000;
}
@media only screen and (max-width: 1280px){
    .imagen-proyecto{
        width: 40%;
    }
    .imagen-transparencia {
        width: 40%;
    }
    .columna-flex {
        align-items: center;
    }
    .titulo-transparencia {
        line-height: 0.8em;
        padding-bottom: 0.8em;
        padding-top: 0.8em;
    }
    .imagen-inicio1,.imagen-inicio2,.imagen-inicio3,.imagen-inicio4{
        position: relative;
        width: 100%;
        height: 80vw;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 1000px){
    header{
        flex-direction: column;
        position: relative;
        padding-bottom: 2vh;
    }
    .contenedor-text-img-transparencia {
        display: block;
    }
    .imagen-transparencia {
        width: 100%;
    }
    #Transparencia {
        padding: 0vh;
    }
    .columna-flex {
        align-items: center;
    }
    .titulo-transparencia {
        line-height: 0.8em;
        padding-bottom: 0.8em;
        padding-top: 0.8em;
    }
    #Institucional {
        padding: 0vh;
    }
    .Institucional-flex {
        display: block;
    }
    .footer-contacto {
        display: display;
        margin-top: 5vh;
        text-align: left;
    }
}